* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #10101e;
}

h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  width: 340px;
  padding: 15px 10px;
  /* border: 3px solid #2E94E3; */
  /* border-radius: 5px; */
  margin: 0 auto;
  text-align: center;
  background: #2e94e3;
  margin-top: 20px;

  box-shadow: 0px 0px 10px #2e94e3;
}

.main-content {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datetime {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  width: 340px;
  padding: 15px 10px;
  border: 3px solid #2e94e3;
  border-radius: 5px;
}

.datetime:hover {
  color: #fff;
}

.date {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}
